#cookie-notice .cn-button:not(.cn-button-custom) {
	color: #373a42 !important;
	border-radius: 0px !important;
}

.summit-social {
	display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    margin: 0 auto;
}

.summit-social img {
	height: 30px;
	width: 30px;
}

.summit-social + .summit-showrooms {
	display: flex;
	width: 100%;
	justify-content: center;
	column-gap: 3rem;
	border-top: 1px solid;
	padding: 3rem;
	max-width: calc(1024px + 20rem);
}

.summit-social + .summit-showrooms p {
	font-size: 1.15rem;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 1px;
	font-weight: 300;
	margin: 0;
}

.summit-footer {
	background: #333a47;
    color: white !important;
    display: grid;
    grid-template-columns: 30% 70%;
	font-size: 12px;
	position: relative;
	padding: 4rem 11%;
}

.summit-footer-identity {
	display: grid;
    align-content: space-between;
}

.summit-footer-identity p {
	position: absolute;
	bottom: 1rem;
	font-size: 14px;
}

.summit-footer-identity .site-footer-title {
	position: relative;
	margin: 0;
}

.summit-footer-identity .site-footer-title a img {
	width: 10rem;
}

.summit-footer-menus {
	display: grid;
	grid-template-columns: 20% 25% 28% 20%;
	margin-left: 10%;
	width: 100%;
}

.summit-footer-menus ul {
	padding: 0 !important;
	margin: 0 !important;
}

.summit-footer-menus ul li {
	list-style-type: none;
}

.summit-footer-menus ul li a {
	color: white;
	text-transform: uppercase;
    line-height: 24px;
	text-decoration: none;
	letter-spacing: .65px;
	font-weight: 300;
}

/* MOBILE */
@media only screen and (max-width: 768px) {
	.summit-footer {
		display: block;
		padding: 4rem 2rem;
	}
	
	.summit-social {
		width: 25%;
	}
	
	.summit-footer-menus {
		margin-left: 0;
		grid-template-columns: repeat(2, 50%);
	}
	
	.summit-footer-menus ul {
		display: none;
	}
	
	.summit-footer-menus ul:last-of-type {
		display: block;
		margin-bottom: 2rem !important;
	}
	
	.summit-footer-menus ul li a {
    	display: block;
    	margin-bottom: 10px;
    	line-height: 1.5;
	}
	
	.summit-social img {
		height: 20px;
		width: 20px;
	}
	
	.summit-showrooms {
		flex-wrap: wrap;
		row-gap: 1rem;
		padding: 2rem;
	}
	
	.summit-showrooms p {
		font-size: 1rem;
	}
}