/* Structure */
.site-header {
	display: flex;
	padding: 0 48px;
	height: 100px;
    align-content: center;
	justify-content: space-between;
	position: relative;
	z-index: 1001;
	background: white !important;
}

.site-branding {
	display: flex;
	align-items: center;
	flex: 0 0 88%;
	justify-content: center;
	padding: 0 1rem;
}

.site-branding::before,
.site-branding::after {
	content: '';
	display: grid;
	width: 100%;
	height: 1.5px;
	background: black;
	margin-bottom: -.75px;
}

.home .site-branding::before,
.home .site-branding::after {
	background: white;
}

.site-branding .site-title {
	margin: 0;
	text-align: center;
	padding: 0 1rem;
}

.site-branding .site-title a img {
	width: 25rem;
}

/* OLD NAV */

/* .main-navigation {
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.main-navigation li {
	padding: 0 2rem 0 0;
	height: 100px;
    display: grid;
    align-items: center;
}

ul.sub-menu {
	position: absolute;
    top: -1000px;
    height: 125px;
    width: 100%;
    padding: 0 18%;
    align-items: center;
    background: rgba(19, 24, 34, .9);
    font-weight: 300;
    letter-spacing: .85px;
    box-shadow: none;
	transition: top .4s ease-in-out;
	margin: 0;
	list-style-type: none;
	display: flex;
	z-index: 10;
}

ul.sub-menu.open-submenu {
	top: 100px;
	transition: all .4s ease-in-out;
}

#wpadminbar ~ .site ul.sub-menu.open-submenu {
	top: 130px;
}

.main-navigation li a {
	color: black;
	text-transform: uppercase;
	font-size: 13px !important;
	margin-top: 10px;
	letter-spacing: .85px;
}

ul.sub-menu li {
	margin-right: 3rem;
}

ul.sub-menu a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px !important;
	letter-spacing: .85px;
} */


/* NEW NAV */
.summit-menu {
	height: 100vh;
	width: 0;
	padding: 2rem;
	background: #333a47;
	position: fixed;
	top: 0;
	padding: 10% 0;
	right: -999px;
	z-index: 1002;
	transition: all .4s ease-in-out;
}

.main-navigation.toggled .summit-menu {
	right: 0;
	width: 33vw;
	transition: width .4s ease-in-out;
}

#summit-menu-toggle {
	padding: 0;
	line-height: 0;
	background: white;
	border: none;
	width: 10%;
	position: relative;
	height: 25px;
}

#summit-menu-toggle span {
	font-size: 0px;
	height: 1px;
	width: 17.5px;
	background: black;
	border: none;
	position: absolute;
	top: 50%;
	left: 0;
}

#summit-menu-toggle:before,
#summit-menu-toggle:after {
	content: '';
	display: block;
	font-size: 0px;
	height: 1px;
	width: 17.5px;
	background: black;
	border: none;
}

#summit-menu-toggle:before {
	position: absolute;
	top: 6px;
}


#summit-menu-toggle:after {
	position: absolute;
	bottom: 5px;
}

.summit-menu ul {
	list-style-type: none;
}

.summit-menu ul ul {
	margin-left: 0px;
	padding-left: 1rem;
	margin-bottom: 1rem;
}

/* .summit-menu ul ul {
	opacity: 0;
	position: absolute;
	z-index: -1;
	transition: all .2s ease-in-out;
} */

.close-menu {
	position: absolute;
	right: 15%;
	top: 85px;
	font-size: 20px;
	color: white;
	font-weight: 100;
	height: 25px;
	width: 25px;
	display: block;
}

#summit-menu-toggle:hover,
.close-menu:hover {
	cursor: pointer;
}

.close-menu:before,
.close-menu:after {
	content: '';
	display: block;
	font-size: 0px;
	height: 1px;
	width: 17.5px;
	background: white;
	border: none;
}

.close-menu:before {
	transform: rotate(45deg);
}

.close-menu:after {
	transform: rotate(-45deg);
	margin-top: -1px;
}

.summit-menu ul.menu li {
	min-height: 1.5rem;
}

.summit-menu ul li a,
.summit-menu ul li a:hover,
.summit-menu ul li a:visited,
.summit-menu ul li a:focus {
	display: flex;
	align-items: center;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: .95rem;
	font-weight: 100;
	letter-spacing: 1.1px;
	line-height: 1.5rem;
	opacity: 0;
	transition: opacity .4s ease-in-out;
}

.main-navigation.toggled .summit-menu ul li a,
.main-navigation.toggled .summit-menu ul li a:hover,
.main-navigation.toggled .summit-menu ul li a:visited,
.main-navigation.toggled .summit-menu ul li a:focus {
	opacity: 1;
	transition: opacity .4s ease-in-out;
}

/* .summit-menu .menu-item-has-children > a::after {
	content: url('/wp-content/themes/summit-furniture/img/ReturnArrow.svg');
	display: block;
	width: 14px;
	overflow: hidden;
	transform: rotate(180deg);
	filter: invert(1);
	margin-bottom: -3px;
	margin-left: .25rem;
}

.summit-menu .menu-item-has-children > a.show-sub-menu::after {
	transform: rotate(270deg);
}

.summit-menu .menu-item-has-children a.show-sub-menu + ul.sub-menu {
	opacity: 1;
	position: relative;
	z-index: 1;
	transition: all .2s ease-in-out;
} */

/* Action Links */
.summit-action-links {
	display: flex;
	align-items: center;
	flex: 0 0 6%;
	justify-content: center;
	gap: 1.75rem;
}

.summit-links-left {
	justify-content: start;
}

.summit-links-right {
	justify-content: end;
}

.summit-search,
.summit-translate {
	flex: 0 0 auto;
}

.summit-translate select {
	border: 0;
}

.summit-search {
	height: 15px;
}

/* Search */
.summit-search-form {
	position: relative;
	opacity: 0;
	z-index: -100;
	padding: 0 10%;
	width: 100%;
	background: #333a47;
	height: 0px;
    display: grid;
    align-items: center;
	transition: height .4s linear;
}

.summit-search-form.open-search {
	opacity: 1;
	padding-bottom: 2rem;
	height: 250px;
	z-index: 1001;
	transition: height .4s linear;
}

.home .summit-search-form.open-search,
.home .summit-retail-login.open-retail.logged-in,
.home .summit-retail-login.open-retail {
	margin-bottom: 24px;
}

.summit-close-form {
	margin-left: 100%;
}

.summit-search-form input[type="search"] {
	width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid white;
	border-radius: 0px;
	padding: 1rem 1rem 1rem calc(1rem + 25px);
	background: transparent;
	color: white;
	font-size: 1.5rem;
	font-weight: 100;
	opacity: 0;
	transition: opacity .4s ease-in-out;
}

.summit-search-form.open-search input[type="search"] {
	opacity: 1;
	transition: opacity .4s ease-in-out;
}

.summit-search-form form {
	position: relative;
}

.summit-search-form form img {
	position: absolute;
	top: calc(50% - 12.5px);
}

/* Professionals and Retail Login Dropdown */
.summit-retail-login,
.summit-professionals-login {
	position: relative;
	opacity: 0;
	z-index: -100;
	padding: 0 10%;
	width: 100%;
	background: #333a47;
	height: 0px;
    display: grid;
    align-items: center;
	transition: height .4s linear;
/* 	position: absolute;
	top: -1000px;
	padding: 2rem 10%;
	z-index: 1001;
	width: 100%;
	transition: all .4s linear;
	background: rgba(19, 24, 34, .9);
    display: grid;
    align-items: center; */
}

.summit-retail-login {
	grid-template-columns: repeat(2, 47.5%);
	column-gap: 5%;
	justify-content: center;
	align-items: start;
	opacity: 0;
}

.summit-retail-login.open-retail,
.summit-professionals-login.open-professionals {
	z-index: 1001;
}

.summit-retail-login.open-retail {
	height: 360px;
	opacity: 1;
	padding-top: 4rem;
	padding-bottom: 4rem;
	transition: all .4s linear;
}

.summit-retail-login.open-retail.logged-in {
	height: 125px;
	min-height: unset !important;
	align-content: center;
}

.summit-retail-login .create-account-wrapper {
	padding-left: 3rem;
	height: 100%;
}

.summit-professionals-login.open-professionals {
	height: 250px;
}

/* #wpadminbar ~ .site .summit-retail-login.open-retail,
#wpadminbar ~ .site .summit-professionals-login.open-professionals {
	top: 130px;
}
 */
.summit-retail-heading,
.summit-professionals-heading {
	display: flex;
	justify-content: space-between;
    align-items: end;
	margin-bottom: 2rem;
}

.summit-retail-login h2,
.summit-professionals-login h2 {
	color: white;
	font-weight: 100;
    font-size: 1.75rem;
    letter-spacing: .85px;
	margin: 0;
}
	
.summit-retail-login p {
	color: white;
	font-weight: 100;
}

.summit-retail-login a.login-btn,
.summit-professionals-login a.trade-login {
	border: 1px solid white;
	font-size: .75rem;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5rem 1.5rem;
	width: fit-content;
	color: white;
	margin-right: .75rem;
	font-weight: 100;
}

.summit-retail-login #loginform,
.summit-professionals-login #loginform {
	display: grid;
	grid-template-columns: repeat(2, 47.5%);
	column-gap: 5%;
	height: 155px;
}

.summit-retail-login #loginform p,
.summit-professionals-login #loginform p {
	display: flex;
	flex-direction: column-reverse;
}

.summit-retail-login p.login-submit {
	margin-bottom: 0px;
}

.summit-retail-login #loginform p label,
.summit-professionals-login #loginform p label {
	color: white;
	text-transform: uppercase;
	margin-top: .5rem;
	font-size: 12px;
}

.summit-retail-login #loginform p input,
.summit-professionals-login #loginform p input {
	font-size: 16px;
	background: transparent;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid white;
	color: white;
}

.summit-retail-login #loginform #wp-submit {
	background: transparent;
	border: 1px solid white;
	text-transform: uppercase;
	font-weight: 100;
	font-family: 'Roboto';
	color: white;
	border-radius: 0;
	font-size: .85rem;
}

.summit-professionals-login #loginform p.login-submit {
	display: none;
}

.summit-account-links {
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
	grid-column: 1/3;
}

.summit-account-links a,
.summit-account-links a:visited,
.summit-account-links a:hover {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	opacity: 0;
	transition: opacity .4s ease-in-out;
	font-weight: 100;
	letter-spacing: 1.1px;
}

.summit-retail-login.open-retail .summit-account-links a,
.summit-retail-login.open-retail .summit-account-links a:visited,
.summit-retail-login.open-retail .summit-account-links a:hover {
	opacity: 1;
	transition: opacity .4s ease-in-out;
}

.create-wrap {
	height: 155px;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	align-content: space-between;
}

.create-wrap p {
	grid-column: 1/3;
}

/* Google Translate */
.gtranslate_wrapper {
	width: 45px !important;
	position: relative;
}

.gtranslate_wrapper .gt_switcher,
.gtranslate_wrapper .gt_switcher .gt_selected a {
	border: 0 !important;
	width: 100% !important;
}

.gt_selected {
	background: white !important;
}

.gt_selected img {
	display: none !important;
}

.gt_option {
	position: absolute !important;
	top: calc(24px + .25rem);
	background: white !important;
	border: 0 !important;
}

.gt_selected a,
.gt_option a.nturl {
	line-height: 1;
}

/* .gt_selector,
.gt_selected,
.gt_selected a {
	background: white !important;
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
}

.gt_switcher,
.gt_switcher a {
	height: 24px !important;
	width: 24px !important;
	display: flex !important;
  	overflow: visible !important;
	border: 0 !important;
}

.gt_option img,
.gt_selected img {
	display: none !important;
} */

/* Fade In */
.summit-intro-cover + .site {
	opacity: 0;
}

.summit-intro-cover {
	height: 100vh;
	position: absolute;
	z-index: -1;
	top: 0;
	opacity: 0;
}

.summit-intro-cover h2 {
	position: absolute;
	width: 100%;
	top: calc(50% - 48px);
	font-size: 5rem;
	font-weight: 100;
	text-align: center;
	color: white;
	margin: 0 auto;
	opacity: 0;
	line-height: 1.1;
}

.summit-intro-cover + .site.fadeIn,
.summit-intro-cover h2.fadeIn {
	opacity: 1;
	transition: all 1s ease-in-out;
}

.summit-intro-cover.fadeOut {
	opacity: 0 !important;
	transition: opacity 1s ease-in-out;
}

.mobile-only {
	display: none;
}

/* MOBILE */
@media only screen and (max-width: 768px) {
	.logged-in #wpadminbar {
		display: none;
	}
	
	.mobile-only {
		display: block;
	}
	
	header > div:first-child {
		display: none;
	}
	
	.site-header {
		height: auto;
		align-content: end;
		display: grid;
		justify-content: center;
		row-gap: 12px;
    	padding-bottom: 1rem !important;
	}
	
	.site-branding {
		grid-row: 2;
		/*! padding-top: 24px; */
    	/*! border-top: 1px solid black; */
	}
	
	.summit-action-links {
		width: 100vw;
		padding: 0 1rem;
		position: fixed;
		top: 0;
		left: 0;
		background: white;
		border-bottom: 1px solid black;
		z-index: 100;
		display: flex;
		align-items: center;
		flex: 0 0 15%;
		justify-content: space-between;
		height: 46px;
	}
	
	.site-header .site-title a {
		width: 100%;
		display: block;
	}
	
	.site-header .site-title a img {
		margin: 0 auto;
		display: block;
	}
	
	body.home .site-header {
		padding: 0;
	}

	.summit-search,
	.summit-retail-trigger {
		margin-top: 10px !important;
	}
	
	.summit-translate {
		margin-top: 5px !important;
		margin-left: 0;
	}
	
	#summit-menu-toggle {
		margin-top: 3px;
	}
	
	.main-navigation.toggled .summit-menu {
		width: 100vw !important;
		padding: 25% 0;
	}
	
	.summit-account-links a {
		flex: 0 0 50%;
	}
	
	.summit-search-form.open-search {
		height: 150px;
		padding: 0 1rem 1rem;
	}
	
	.summit-search-form form img {
		height: 15px;
  		width: 15px;
  		top: calc(50% - 7.25px);
	}
	
	.summit-search-form.open-search input {
		font-size: 1.15rem;
		padding-left: 1.5rem;
	}
	
	.summit-retail-login.open-retail {
		padding: 1rem;
		display: block;
		height: auto;
	}
	
	.summit-retail-login .create-account-wrapper {
		padding-left: 0;
		margin: 3rem auto;
		padding-top: 3rem;
    	border-top: 1px solid white;
	}
	
	.summit-account-links {
		row-gap: 1rem;
	}
	
	
}

.main-navigation.toggled .summit-menu ul li a:hover {
	text-decoration: underline;
}

/* New Homepage */
.home header {
	position: absolute;
	width: 100%;
	background: transparent !important;
	border-bottom: 0px !important;
}

.home .site-title a img {
	filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(106%) contrast(106%);
}

@media only screen and (min-width: 810px) {
	.home .summit-search img,
	.home .summit-retail-trigger a img,
	.home .gt_selected a::after {
		filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(106%) contrast(106%);
	}
	
	.home .gt_selected,
	.home .gt_selected a {
		background: transparent !important;
		color: white !important;
	}

	.home #summit-menu-toggle {
		filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(106%) contrast(106%);
		background: transparent !important;
	}	
}