.summit-interior {
	background: #f5f5f5;
	padding: 4rem;
	background-size: 100%;
  	background-repeat: no-repeat;
  	background-position: center;
}

.summit-interior-dark {
	background: #333a47;
}

.summit-interior-dark .box-outline {
	outline: 12px double white;
	outline-offset: 1rem;
}

.summit-interior article {
	max-width: 80%;
	margin: 0 auto;
}

.summit-interior h2,
.summit-interior .entry-content {
	margin-top: 0;
}

.summit-interior h2 {
	font-weight: 300;
}

.blog .summit-interior {
	padding-left: 10%;
	padding-right: 10%;
}

.press-wrap {
	display: grid;
	grid-template-columns: repeat(4, 23.5%);
	gap: 2%;
	margin-bottom: 4rem;
}

.press-wrap article {
	max-width: 100%;
}

.press-wrap a {
	text-decoration: none;
}

.press-wrap h2 {
	font-size: .85rem;
	padding: 1rem .75rem .75rem;
	background: white;
	margin-top: -.25rem;
	color: black;
}

@media only screen and (max-width: 800px) {
	.summit-interior {
		padding: 0;
		background-size: cover;
	}
	
	.summit-interior article {
		max-width: 90%;
		margin: .25rem auto;
	}
	
	/* Trade account */
	.post-3338 .summit-furniture-header {
		display: block;
	}
	
	.post-3338 .header-link {
		display: block;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	
	/* Press */
	.blog .summit-interior{
		padding-top: 3rem;
	}
	
	.press-wrap {
		margin: 2rem auto;
		grid-template-columns: repeat(2, 45%);
		column-gap: 5%;
	}
	
	.press-wrap article {
		margin-bottom: -1.5rem;
	}
	
	.press-wrap article:first-child {
		grid-column: 1/3;
	}
	

}